@{
    ViewBag.Title = "Books";
}

<head>
    <link rel="stylesheet" href="~/LibraryMvc.UI/Views/Shared/_Layout.cshtml.css" asp-append-version="true" />

</head>

<body>
    <div class="books-title">
        <h1>Books</h1>
    </div>


    
</body>