@model RegisterDTO
@{
    ViewBag.Title = "Register";
    ViewBag.CurrentUrl = "~/Account/Register";
}
<head>
    <link href="~/StyleSheet.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<div class="form-container " style="width: 1000px;">
    Already Registered? <a asp-action="Login" asp-controller="Account" class="link-hover">Login</a>
    <h2 class="text-large">Register</h2>

    <form asp-controller="Account" asp-action="Register" method="post">

        <div class="row">
            <div class="col">
                @*PersonName*@
                <div class="form-field flex">
                    <div class="w-25">
                        <label asp-for="PersonName" class="form-label pt">Name</label>
                    </div>
                    <div class="flex-1">
                        <input asp-for="PersonName" class="form-input" />
                        <span asp-validation-for="PersonName" class="text-red"></span>
                    </div>
                </div>
            </div>    
            <div class="col">
                @*Gender*@
                <div class="form-field flex">
                    <div class="w-25">
                        <label asp-for="Gender" class="form-label pt">Gender</label>
                    </div>
                    
                    <div class="flex-1" >
                        <select class="form-input" asp-for="Gender">
                            @{
                                string[] genders = (string[])Enum.GetNames(typeof(GenderOptions));
                            }
                            @foreach (string gender in genders)
                            {
                                <option asp-for="Gender" value="@gender" id="@gender">
                                    @gender
                                </option>
                            }
                        </select>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                @*Phone*@
                <div class="form-field flex">
                    <div class="w-25">
                        <label asp-for="PhoneNumber" class="form-label pt">Phone</label>
                    </div>
                    <div class="flex-1">
                        <input asp-for="PhoneNumber" class="form-input" />
                        <span asp-validation-for="PhoneNumber" class="text-red"></span>
                    </div>
                </div>
            </div>
            <div class="col">
                @*Email*@
                <div class="form-field flex">
                    <div class="w-25">
                        <label asp-for="Email" class="form-label pt">Email</label>
                    </div>
                    <div class="flex-1">
                        <input asp-for="Email" class="form-input" />
                        <span asp-validation-for="Email" class="text-red"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                @*Password*@
                <div class="form-field flex">
                    <div class="w-25">
                        <label asp-for="Password" class="form-label pt">Password</label>
                    </div>
                    <div class="flex-1">
                        <input asp-for="Password" class="form-input" />
                        <span asp-validation-for="Password" class="text-red"></span>
                    </div>
                </div>
            </div>
            <div class="col">
                @*ConfirmPassword*@
                <div class="form-field flex">
                    <div class="w-25">
                        <label asp-for="ConfirmPassword" class="form-label pt">Confirm Password</label>
                    </div>
                    <div class="flex-1">
                        <input asp-for="ConfirmPassword" class="form-input" />
                        <span asp-validation-for="ConfirmPassword" class="text-red"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                @*Register button*@
                <div class="form-field flex">
                    <div class="w-25"></div>
                    <div class="flex-1">
                        <button class="button button-green-back" type="submit">Register</button>

                        @*<div asp-validation-summary="All" class="text-red"></div>

                        @if (ViewBag.Errors != null)
                        {
                            <div class="text-red ml">
                                <ul>
                                    @foreach (string error in ViewBag.Errors)
                                    {
                                        <li class="ml">@error</li>
                                    }
                                </ul>
                            </div>
                        }*@
                    </div>
                </div>
            </div>
            <div class="col-sm-3"></div>
            
        </div>

        
        

    
        

        





        

    </form>



</div>
